/**
 * Example Model Template
 * 
 * Copy this file and rename it to create a new model.
 * Remove the .template extension.
 */

module.exports = (sequelize, DataTypes) => {
  const Example = sequelize.define('Example', {
    id: {
      type: DataTypes.UUID,
      defaultValue: DataTypes.UUIDV4,
      primaryKey: true
    },
    name: {
      type: DataTypes.STRING,
      allowNull: false
    },
    // Add your columns here
  }, {
    tableName: 'examples',
    underscored: true,
    timestamps: true
  });

  // Define associations
  Example.associate = (models) => {
    // Example.hasMany(models.OtherModel, { ... });
  };

  return Example;
};
